doctype html
html(lang="en", ng-app="myApp")
	head
		title My Awesome App
		link(rel='stylesheet', href="/css/app.css")

	
	

	body(ng-controller="WelcomeCtrl")

	div.container
		h1 My Awesome App

		

		p Hello {{ testing }}
		p(app-version)
		

		script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js")
		script(src="/js/main.js")
		



